<header>

  <div class="main_nav">
   <span> Cucina Deliziosa </span>
   <button id = "btn" type="submit" value="Submit">
    <i  class="fas fa-shopping-cart"> Cart </i>
   </button>
   <i id="logo" class="fas fa-utensils"></i>

      <!-- for redirecting when click on cart -->
  <script >
    let url = " http://localhost:8080/checkout";
    document.getElementById("btn").onclick = function() {
      window.location.replace(url);
    }
  </script>

  </div>

  </header>
