<!--  kb  -->
<!--  trying to see if selectall works here -->
<!-- let Product= require(../cart) this is getting cart.js -->

<!-- <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script> -->

<%- include('partials/_header') %>
<span class="side_nav_container">

  <ul class="nav_links">
    <li> <a href="#mains"> Pasta </a> </li>
    <li> <a href="#appatizers"> Appatizers </a> </li>
    <li> <a href="#drinks"> Drinks </a> </li>
    <li> <a href="#dess"> Desserts </a> </li>
  </ul>
</span>

<script src="cart.js" async> </script>


<!-- For main website page, each menu item should have its own card
  with details(name, description, price, image, and add/remove button) -->


  <!-- Images  -->
  <div class="all-imgs-container">
    <a name="mains"> </a>
    <h2> Pasta Dishes </h2>

    <div class="pasta-container">

        <div class="pasta">
          <img src="/../../images/pasta/item-001.jpeg" height=200; width="200" alt="pasta">

          <div class="cart-buttons">
            <button class="add"><i class="fas fa-plus"></i></button>
            <button class="delete"><i class="fas fa-minus"></i></button>
          </div>


        </div>

        <div class="pasta">
          <img src="/../../images/pasta/item-002.jpeg" height=200; width="200" alt="pasta">

          <div class="cart-buttons">
            <button class="add"><i class="fas fa-plus"></i></button>
            <button class="delete"><i class="fas fa-minus"></i></button>
          </div>

       </div>

        <div class="pasta">

          <img src="/../../images/pasta/item-003.jpeg" height=200; width="200" alt="pasta">

          <div class="cart-buttons">
            <button class="add"><i class="fas fa-plus"></i></button>
            <button class="delete"><i class="fas fa-minus"></i></button>
          </div>


        </div>

        <div class="pasta">

          <img src="../../images/pasta/item-004.jpeg" height=200; width="200" alt="pasta">
          <div class="cart-buttons">
            <button class="add"><i class="fas fa-plus"></i></button>
            <button class="delete"><i class="fas fa-minus"></i></button>
          </div>


  <!-- document.querySelectorAll not wokring "all" -->
  <script>
    let btnADD = document.querySelector(".add")
    let btnDelete = document.querySelector(".delete")
    let input = document.querySelector("input")
    btnADD.addEventListener('click',()=> {
      input.value = parseInt(input.value) + 1;
    })
    btnDelete.addEventListener('click',()=> {
      input.value = parseInt(input.value) - 1;
    })

    // let cartt = document.querySelectorAll('.cart');

    // for(var i=0; i<btnADD.length; i++){
    //     cartt[i].style.color = "red";
    // }

  </script>
  <script src="main.js"></script>
</body>
</html>

<!-- Bootstrap core JavaScript
  ================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<!-- <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
  integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
  crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
  integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
  crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
  integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
  crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/holder/2.9.4/holder.min.js"
  integrity="sha256-ifihHN6L/pNU1ZQikrAb7CnyMBvisKG3SUAab0F3kVU=" crossorigin="anonymous"></script> -->
