Html

<!DOCTYPE html>
<html lang="en">

<head>
  <title>The Pasta Place</title>

  <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
  <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />
  <link rel="stylesheet" href="/styles/main.css" type="text/css" />
  <link rel="stylesheet" href="/styles/layout.css" type="text/css" />

  <!-- Shopping cart -->
  <script src="https://kit.fontawesome.com/a4c9bc2fa3.js" crossorigin="anonymous"></script>

  <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
  <script type="text/javascript" src="/scripts/app.js"></script>
</head>

<body>
  <%- include('partials/_header') %>

  <div class="side_nav_container">

    <ul class="nav_links">
      <li> <a href="#"> Pasta </a> </li>
      <li> <a href="#"> Appatizers </a> </li>
      <li> <a href="#"> Drinks </a> </li>
    </ul>


  </div>


</body>
</html>

